.hot {
	display: flex;
	flex-direction: column;
	padding: 20px 10px;
	max-width: 600px;
	width: 100%;
}

.icon {
	margin: 0 4px;
}

.hotTitle {
	margin-bottom: 10px;
	text-align: center;
}

.list {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	padding: 0 20px;
}
